body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  position: relative;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-html5-camera-photo-fullscreen > video {
  object-fit: cover !important;
}

.button {
  width: 100%;
  padding: 1em 0;
  border: none;
  border-radius: 0;
  font-size: 1.25rem;
  background-color: #1677ff;
  color: #fff;
  display: flex;
  justify-content: center;
}
.button span  {
  width: 1em;
  display: flex;
  margin-right: .5em;
}
.button:disabled,
.button[disabled] {
  opacity: .5;
}
.secondary {
  /* background-color: rgba(0,0,0,.5); */
  background-color: #002c8c;
}
.actions {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #69b1ff;
  color: #fff;
  width: 100%;
  padding: 2.5rem 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: all .25s;
  box-sizing: border-box;
}
.show{
  height: fit-content;
  top: 0;
}
.hide{
  height: 0;
  overflow: hidden;
  top: -5rem;
}
.camera-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.copper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.loader{
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: calc(50% - 1.25rem);
  transform: translate(-50%, -50%);
  color: #fff;
  animation: rotate-animation 10s infinite linear;
}
@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}